---
import figmaLogoImg from "../assets/figma.svg";
import gitLogoImg from "../assets/git.svg";
import jsLogoImg from "../assets/javascript.svg";
import linuxLogoImg from "../assets/linux.svg";
import mysqlLogoImg from "../assets/mysql.svg";
import nestjsLogoImg from "../assets/nestjs.svg";
import nextjsLogoImg from "../assets/nextjs.svg";
import nodejsLogoImg from "../assets/nodejs.svg";
import postgresqlLogoImg from "../assets/postgresql.svg";
import reactjsLogoImg from "../assets/reactjs.svg";
import shadcnuiLogoImg from "../assets/shadcnui.svg";
import tailwindcssLogoImg from "../assets/tailwindcss.svg";
import tsLogoImg from "../assets/typescript.svg";
import zodLogoImg from "../assets/zod.svg";
import zustandLogoImg from "../assets/zustand.svg";
import ToolsGroup from "./ToolsGroup.astro";
import { getMessages } from "../i18n";

const locale = Astro.currentLocale ?? "en";
const t = getMessages(locale);

const mainStack = [
  { img: tsLogoImg, name: "TypeScript" },
  { img: jsLogoImg, name: "JavaScript" },
  { img: reactjsLogoImg, name: "ReactJS" },
  { img: nextjsLogoImg, name: "NextJS" },
  { img: tailwindcssLogoImg, name: "TailwindCSS" },
  { img: zustandLogoImg, name: "Zustand" },
  { img: zodLogoImg, name: "Zod" },
  { img: shadcnuiLogoImg, name: "shadcn/ui" },
];

const secondaryStack = [
  { img: nodejsLogoImg, name: "Node.js" },
  { img: nestjsLogoImg, name: "NestJS" },
  { img: postgresqlLogoImg, name: "PostgreSQL" },
  { img: mysqlLogoImg, name: "MySQL" },
  { img: gitLogoImg, name: "Git" },
  { img: linuxLogoImg, name: "Linux" },
  { img: figmaLogoImg, name: "Figma" },
];
---

<div class="flex flex-col gap-6">
  <ToolsGroup title={t.tools.mainStack} tools={mainStack} />
  <ToolsGroup title={t.tools.supporting} tools={secondaryStack} />
</div>
